:root {
    --main-color: #10cab7;
}
body {
    background-image: url(../CSS/pngtree-vector-banner-or-flyer-template-with-white-backgroundabstract-image_109128.jpg);
    background-size: cover;
    margin: 0px;
}
.landing {
    
    height: 99vh;
    width: 100%;   
    direction: rtl;
    position: relative;
    margin-top: -9px;
    margin-left: -5px;
}
.landing .intro {
position: absolute;
left: 33%;
top: 5%;
text-align: center;
width: 300px;
}
.landing .intro h1 {
font-weight: bold;
font-size: 40px;
color: var(--main-color);
margin: 0;
margin-right: -41px;
}
.landing .intro p {
font-size: 19px;
line-height: 1.8px;
font-size: x-large;
margin-right: -40px;
} 
.ul {
    margin-top: 220px;
    margin-inline: 20px;
}
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}
header .links .icon span {
    margin-bottom: 5px;
}
.header .links ul::before{
    content: "";
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
.header .links ul li a {
    display: block;
padding: 15px;text-decoration: none;
color: #222;
transition: 0.3s;
font-family: system-ui;
width: max-content;
}
.header .links ul a:hover {
padding-right: 25px;
}
.ul {
    list-style: none;
    margin-right: 319px;
        display: -webkit-inline-box;
        font-size: larger;
        margin-top: 135px;
    }
    .oo {
        border-radius: 50%;
        width: 150px;
    }
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    margin-right: 71px;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    font-size: 18px;
}
.contact .info {
    text-align: center;
}
.contact {
    text-align: center;
    margin-right: 90px;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: darkslategrey;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
    direction: ltr;
}
.contact .info .social i {
    margin-left: 10px;
}
.footer {
    padding: 19px 10px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: white;
    margin-top: 27px;
    margin-left: -80px;
    direction: ltr;
}
.features span {
    font-weight: bold;
    color: var(--main-color);
}